#restaurant-list {
  .make-xs-column(12, 0);

  .big-place {
    .make-xs-column(12, 0);
  }

  .small-place {
    .make-xs-column(12, 0);
    .make-md-column(6, 0);
  }

  .item {
    height: 450px;
    overflow: hidden;

    .pic {
      .image-center-absolute;
    }

    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, .8);
      color: @color-dark;
      font-size: 14px;
      font-weight: bold;
      height: 55px;
      line-height: 15px;
      padding: 10px 15px 0;

      .small {
        font-weight: normal;
        font-style: italic;
      }
    }
  }
}

#restaurant-detail {
  .make-xs-column(12, 0);

  .big-place {
    .make-xs-column(12, 0);
    height: 450px;
    overflow: hidden;

    .pic {
      .image-center-absolute;
    }

    .header {
      .make-middle(45px);
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      background: rgba(255, 255, 255, .8);
      color: @color-dark;
      font-size: 14px;
      font-weight: bold;
      padding: 0 15px;
    }

    .footer {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 45px;
      background: rgba(255, 255, 255, .8);
      padding: 0 15px;

      > ul {
        margin: 0;

        > li {
          .make-middle(45px);
          padding-right: 25px;

          i {
            font-size: 20px;
            margin-right: 10px;
          }

          span {
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }
  }
}

#restaurant-detail .menu-list {
  .make-xs-column(12, 0);

  .header {
    .main-header;
  }

  .body {
    .make-xs-column(12, 0);

    .item {
      .make-xs-column(4, 30px);

      .pic {
        .make-xs-column(12, 0);
        height: 350px;
        overflow: hidden;

        div {
          .image-center-absolute;
        }
      }

      .info {
        .absolute-box(auto, 15px, 0, 15px);
        background: rgba(255, 255, 255, .8);
        padding: 12px 15px;

        .name {
          float: left;
          font-size: 14px;
          font-weight: bold;
        }

        .price {
          float: right;
          font-size: 14px;
          color: blue;
          font-weight: bold;
        }
      }
    }
  }
}

#restaurant-detail .address{
  .make-xs-column(12, 0);

  .header {
    .main-header;
  }

  .body {
    .make-xs-column(12, 0);

    .item {
      .make-xs-column(6, 30px);
      display: flex;

      .pic {
        width: 180px;
        height: 120px;
        overflow: hidden;

        div {
          .image-center-absolute;
        }
      }

      .info {
        margin-left: 15px;

        h2 {
          margin-top: 5px;
          font-size: 18px;
          font-weight: bold;
        }

        span {
          display: block;
          padding: 2px 0;
          font-size: 13px;

          .fa {
            width: 15px;
          }
        }
      }
    }
  }
}