<div id="restaurant-list">
    <div class="item big-place">
        <div class="pic"><img src="assets/images/place-1.jpg"/></div>
        <div class="header">
            <a href="#/dia-diem/chi-tiet">Coffe Restaurant - Nam Ky Khoi Nghia</a>
            <br/><span class="small">19A, Nam Kỳ Khởi Nghĩa, Q.3</span>
        </div>
    </div>
    <div class="item small-place">
        <div class="pic"><img src="assets/images/place-2.jpg"/></div>
        <div class="header">
            <a href="#/dia-diem/chi-tiet">Coffe Restaurant - Nam Ky Khoi Nghia</a>
            <br/><span class="small">19A, Nam Kỳ Khởi Nghĩa, Q.3</span>
        </div>
    </div>
    <div class="item small-place">
        <div class="pic"><img src="assets/images/place-3.jpg"/></div>
        <div class="header">
            <a href="#/dia-diem/chi-tiet">Coffe Restaurant - Nam Ky Khoi Nghia</a>
            <br/><span class="small">19A, Nam Kỳ Khởi Nghĩa, Q.3</span>
        </div>
    </div>
</div>