<div id="restaurant-detail">
    <div class="big-place">
        <div class="pic"><img src="assets/images/place-1.jpg"/></div>
        <div class="header">Coffe Restaurant - Nam Ky Khoi Nghia</div>
        <div class="footer">
            <ul class="list-inline">
                <li>
                    <i class="fa fa-map-marker"></i>
                    <span>19A, Nam Kỳ Khởi Nghĩa, Q.3</span>
                </li>
                <li>
                    <i class="fa fa-phone"></i>
                    <span>0909 090 909</span>
                </li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    <span>8:00 AM - 10:00 PM</span>
                </li>
                <li>
                    <i class="fa fa-usd"></i>
                    <span>55.000 đ - 200.000 đ</span>
                </li>
            </ul>
        </div>
    </div>
</div>