<section class="rules-section">
    <div class="container">
        <h1>Bảo mật thông tin</h1>

        <div class="text-form">
            <p><img alt="" src="http://media.foody.vn/images/privacy.jpg"
                    style="width: 400px; height: 225px; float: right;margin-left:20px;"> Foody.vn tôn trọng
                những thông tin cá nhân của bạn. Chúng tôi hiểu rằng bạn cần biết chúng tôi quản lý những thông
                tin cá nhân tập hợp được từ Foody.vn như thế nào. Hãy đọc và tìm hiểu về những quy định bảo mật
                thông tin sau đây.</p>

            <p>
                Việc bạn truy cập, đăng ký, sử dụng Foody.vn có nghĩa rằng bạn đồng ý và chấp nhận ràng buộc bởi
                các điều khoản của bản quy định bảo mật của chúng tôi.</p>

            <h2><strong><span style="color:blue;"><u>Tập hợp thông tin</u></span></strong></h2>

            <p><strong>Thông tin cá nhân</strong></p>

            <p>
                Foody.vn hoàn toàn miễn phí, bạn không cần phải cung cấp thông tin cá nhân của bạn. Foody.vn chỉ
                yêu cầu các thông tin cá nhân của bạn như: tên, email và một số thông tin không bắt buộc khác
                khi bạn muốn tương tác với một số nội dung trên website. Các thông tin cá nhân này sử dụng để
                Foody.vn nhận diện và liên hệ với bạn khi cần.</p>

            <p><strong>Lịch sử tìm kiếm</strong></p>

            <p>
                Foody.vn sẽ lưu trữ lịch sử tìm kiếm của bạn trong hệ thống, mục đích của việc lưu trữ này là để
                chúng tôi có thể đưa ra kết quả tìm kiếm lần sau của bạn chính xác hơn, phù hợp với nhu cầu của
                bạn.</p>

            <h2><strong><span style="color:blue;"><u>Cách thức sử dụng thông tin</u></span></strong></h2>

            <p>
                Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu hỏi
                hay thực hiện các yêu cầu của bạn.<br>
                Thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ bên thứ ba nào khi chưa có sự đồng ý
                của bạn. Nhưng chúng tôi có thể chia sẻ thông tin cho bên đối tác khi bạn đồng ý.</p>

            <p>
                Dữ liệu khách hàng của Foody.vn có thể được chuyển nhượng cho người kế thừa hay người được chỉ
                định để quản lý công ty khi công ty bị sát nhập, bị mua lại hoặc phá sản.</p>

            <h2><span style="color:blue;"><u><strong>Bảo đảm an toàn đối với các thông tin thu thập
                được</strong></u></span></h2>

            <p>
                Chúng tôi chỉ tập hợp lại các thông tin cá nhân trong phạm vi phù hợp và cần thiết cho mục đích
                phục vụ đúng đắn của chúng tôi. Và chúng tôi duy trì các biện pháp thích hợp nhằm bảo đảm tính
                an toàn, nguyên vẹn, độ chính xác, và tính bảo mật những thông tin mà bạn đã cung cấp. Ngoài ra,
                chúng tôi cũng có những biện pháp thích hợp để đảm bảo rằng bên thứ ba cũng sử dụng các biện
                pháp bảo đảm an toàn cho các thông tin mà chúng tôi cung cấp cho họ nếu có.</p>

            <h2><span style="color:blue;"><u><strong>Cookies</strong></u></span></h2>

            <p>
                Cookies là những file nhỏ được Download để&nbsp; ghi chép các hoạt động trong một Website.<br>
                Chúng tôi sử dụng cookies để ghi chép các hoạt động của nguời sử dụng hay mục đích của người sử
                dụng không muốn xem cùng nội dung quảng cáo được lặp đi lặp lại nhiều lần. Ngoài ra, chúng tôi
                cũng sử dụng cookies để đáp ứng các yêu cầu của người sử dụng và các mục đích khác.<br><br>
                Trong trang Website của chúng tôi, chúng tôi có thể đặt quảng cáo của cá nhân, đơn vị khác,
                những quảng cáo này có thể thu thập cookies của bạn và foody.vn không thể truy cập vào thông tin
                này. Bất kể lúc nào bạn truy cập vào Website, hầu hết các trình duyệt đặt chế độ cookies tự động
                nhận. Nếu bạn muốn làm mất hiệu lực cookies, có thẻ cài đặt cookies trong trình duyệt, tuy nhiên
                chúng tôi có những thiết lập sẵn những ứng dụng vô hiệu hóa thẻ cài đặt cookies.</p>

            <h2><span style="color:blue;"><u><strong>Liên kết các Website khác</strong></u></span></h2>

            <p>
                Nếu bạn nhấn đường liên kết sang Website thứ ba, bao gồm cả trang quảng cáo, bạn sẽ rời trang
                Foody.vn và sẽ đến trang Web bạn đã chọn. Chúng tôi không thể kiểm soát các hoạt động của bên
                thứ ba và không chịu trách nhiệm về sự an toàn hay bất kể những nội dung gì có trong Website
                đó.</p>

            <h2><span style="color:blue;"><u><strong>Sửa đổi và xoá thông tin tài khoản</strong></u></span>
            </h2>

            <p>
                Bạn có thể sửa đổi, cập nhật thông tin tài khoản của bạn bất cứ lúc nào. Cho dù, bạn tự xoá các
                thông tin đó đi nhưng chúng tôi có thể phục hồi những thông tin đó từ cơ sở dữ liệu của chúng
                tôi để giải quyết các tranh chấp, thi hành&nbsp; bản thoả thuận người sử dụng, hay vì các yêu
                cầu kỹ thuật, pháp lý&nbsp; liên quan đến sự an toàn và những hoạt động của trang website chúng
                tôi.</p>

            <h2><span style="color:blue;"><u><strong>Điều khoản thay đổi</strong></u></span></h2>

            <p>
                Chúng tôi có quyền thay đổi nội dung của các điều khoản này. Xin thường xuyên xác nhận để biết
                về các điều khoản thay đổi trong bản quy định bảo mật của chúng tôi. Thêm vào đó chúng tôi sẽ
                thông báo cho bạn bằng email khi có những thay đổi quan trọng về cách sử dụng liên quan các
                thông tin cá nhân của bạn. Trong trường hợp bạn từ chối các điều khoản thay đổi có trong
                Foody.vn, xin liên hệ chúng tôi theo địa chỉ email <u><em><strong>support@foody.vn</strong></em></u>.
                Khi bạn tiếp tục sử dụng trang web này, có nghĩa là bạn đồng ý và chấp nhận bị ràng buộc với các
                thay đổi trong bản quy định bảo mật trực tuyến này.</p>
        </div>
    </div>
</section>