<footer id="footer">
    <div class="left"><span class="copyright">Copyright &copy; 2016 Ping Me</span></div>
    <div class="right">
        <h1>Tải ứng dụng</h1>
        <div class="item">
            <span class="fa fa-apple"></span>
            <span class="info">
                <strong>Apple Store</strong><br/>
                <p>Ping Me for Consumer</p>
            </span>
        </div>
        <div class="item">
            <span class="fa fa-google"></span>
            <span class="info">
                <strong>Google Play</strong><br/>
                <p>Ping Me for Consumer</p>
            </span>
        </div>
    </div>
</footer>