<footer id="footer">
    <div class="left">
        <span class="copyright">Copyright &copy; 2016 Ping Me</span>
        <span><a href="#/quy-dinh">Quy định</a></span>
        <span><a href="#/dieu-khoan-su-dung">Điều khoản sử dụng</a></span>
    </div>
    <div class="right">
        <h1>Tải ứng dụng</h1>
        <div class="item">
            <span class="fa fa-apple"></span>
            <span class="info">
                <a href="#"><strong>Apple Store</strong></a><br/>
                <p>Ping Me for Consumer</p>
            </span>
        </div>
        <div class="item">
            <span class="fa fa-google"></span>
            <span class="info">
                <a href="#"><strong>Google Play</strong></a><br/>
                <p>Ping Me for Consumer</p>
            </span>
        </div>
    </div>
</footer>