<div id="main" ng-controller="IndexController" ng-init="event.onLoad()">
    <div id="sliderHome">
        <div class="slider-body" u="slides">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="new-feed">
        <div class="item">
            <div class="pic"><img src="assets/images/pic-small-1.jpg"/></div>
            <div class="info">
                <h2><a href="#">TẠI SAO TÔI PHẢI SỬ DỤNG PING ME ?</a></h2>
                <p>
                    - Chỉ cần 1 nút ấn, phục vụ bàn chạy ngay tới trước mặt bạn <br/>
                    - Gọi thanh toán hóa đơn bắt cứ lúc nào <br/>
                    - Gọi món hay hay nước giải khát mọi lúc, không phải chờ phục vụ
                </p>
            </div>
        </div>
        <div class="item">
            <div class="pic"><img src="assets/images/pic-small-2.jpg"/></div>
            <div class="info">
                <h2><a href="#">NHỮNG LỢI ÍCH NÀO CHO VIỆC KINH DOANH CỦA TÔI ?</a></h2>
                <p>
                    - Giảm chi phí nhân sự và thời gian <br/>
                    - Mang lại nhiều tiện ích cho khách hàng <br/>
                    - Mang lại sự đẳng cấp trong quy trình phục vụ và chăm sóc khách hàng
                </p>
            </div>
        </div>
    </div>
</div>